* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.cuerpo {
  display: flex;
}

.header-main-container {
  width: 80%;
}

.aside-container {
  width: 20%;
}

.aside {
  height: 100vh;
  background-color: gray;
}

.dark-aside {
  background-color: black;
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-container-dark {
  background-color: darkslategrey;
}

.meme-container {
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meme-img {
  width: 100%;
  flex-grow: 1;
  background-color: aquamarine;
  background-size: cover;
  background-repeat: "no-repeat";
  background-position: "center";
}

.text-container {
  background-color: rgb(179, 179, 171);
  padding: 21px 50px;
  font-size: 53px;
  text-align: center;
}

.input-color {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.input-color::-webkit-color-swatch,
.input-color::-webkit-color-swatch-wrapper {
  border-radius: 100%;
  border: none;
  padding: 0;
}
