:root {
  --violet: #544af4;
  --white: #ffffff;
}

.imagen-fondo {
  background-image: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

#addBtn {
  background-color: var(--violet);
  color: var(--white);
}
